<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8"/>
    <title>IR Interpreter</title>
    <style>

table {
  border: 1px solid black;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(odd) {background-color: #f2f2f2;}
th, td {
    padding: 15px;
    text-align: left;
}
.irtable th {
  background-color: #ccccff;
}

.pmkbtable th {
  background-color: #ffcccc;
}

  </style>

</head>
<body>
  <div style="overflow-x:auto;">
    {% for record in IRtable.records %}

     <table style="width:100%;", class="irtable">
      <tr>
        <th>IR Genes</th>
        <th>Matched Genes</th>
        <th>Coding</th>
        <th>Amino Acid Change</th>
        <th>% Frequency</th>
        <th>Coverage</th>
        <th>Variant ID</th>
        <th>TumorType</th>
        <th>TissueType</th>
        <th>Source Row</th>
      </tr>
      <tr>
        <td>{{ record.data['Genes'] }}</td>
        <td>{{ record.genes }}</td>
        <td>{{ record.data['Coding'] }}</td>
        <td>{{ record.data['Amino Acid Change'] }}</td>
        <td>{{ record.data['% Frequency'] }}</td>
        <td>{{ record.data['Coverage'] }}</td>
        <td>{{ record.data['Variant ID'] }}</td>
        <td>{{ record.data['TumorType'] }}</td>
        <td>{{ record.data['TissueType'] }}</td>
        <td>{{ record.data['Row'] + 1 }}</td>
      </tr>
      <tr>
          <td>
            Gene Variant: {{ record.data['Genes'] }} {{ record.data['Coding'] }} {{ record.data['Amino Acid Change'] }}<br>
            Type of Variant: {{ record.data['Type'] }}<br>
            COSMIC/NCBI ID: {{ record.data['COSMIC/NCBI'] }}<br>
            Variant Allele Frequency: {{ record.data['% Frequency'] }}<br>
            Read Counts: {{ record.data['Read Counts'] }}<br>
            Read Coverage: {{ record.data['Coverage'] }}<br>
          </td>
      </tr>
    </table>

    <table style="width:100%;", class="pmkbtable">
      <tr>
        <th>PMKB Interpretation</th>
        <th>Gene</th>
        <th>TumorType</th>
        <th>TissueType</th>
        <th>Variant</th>
        <th>Tier</th>
        <th>Citation</th>
        <th>Source Row</th>
      </tr>
      {% for interpretation in record.interpretations  %}
      <tr>
        <td>{{ interpretation['Interpretation'] }}</td>
        <td>{{ interpretation['Gene'] }}</td>
        <td>{{ interpretation['TumorType'] }}</td>
        <td>{{ interpretation['TissueType'] }}</td>
        <td>{{ interpretation['Variant'] }}</td>
        <td>{{ interpretation['Tier'] }}</td>
        <td>{{ interpretation['Citation'] }}</td>
        <td>{{ interpretation['Source'] }}</td>
      </tr>
      {% else %}
      <td>No interpretations found.</td>
      {% endfor %}
    </table>
    <br>

    {% endfor %}
  </div>

</body>
</html>
