{% load get %}
{% load getallattr %}
{% load unique %}
<!DOCTYPE html>
<html lang="en">
<style>
    * {
      font-family: sans-serif;
    }
</style>
<head>
   <meta charset="utf-8"/>
    <title>IR Interpreter</title>
    <style>

table {
  border: 1px solid black;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(odd) {background-color: #f2f2f2;}
th, td {
    padding: 15px;
    text-align: left;
}
.irtable th {
  background-color: #ccccff;
}

.pmkbtable th {
  background-color: #ffcccc;
}

.nyutiertable th {
  background-color: #583af2;
  color: white;
}

  </style>

</head>
<body>
    <div>
        <table>
            <th>Summary</th>
            <tr>
            <td>
            Tissue Type: {{ tissue_type }}<br>
            Tumor Type: {{ tumor_type }}<br>
            IR Entries: {{ num_IR_entries }}<br>
            PMKB Interpretations: {{ num_PMKB_interpretations }}<br>
            PMKB Variants: {{ num_PMKB_variants }}<br>
            Execution time: {{ elapsed }}s<br>
            </td>
        </tr>
        </table>
    </div>
    <div style="overflow-x:auto;">
      {% for record in IRtable.records %}

       <table style="width:100%;", class="irtable">
        <tr>
          <th>IR Genes</th>
          <th>Matched Genes</th>
          <th>Coding</th>
          <th>Amino Acid Change</th>
          <th>% Frequency</th>
          <th>Coverage</th>
          <th>Variant ID</th>
          <th>TumorType</th>
          <th>TissueType</th>
          <th>Source Row</th>
        </tr>
        <tr>
          <td>{{ record.data.Genes }}</td>
          <td>{{ record.genes }}</td>
          <td>{{ record.data.Coding }}</td>
          <td>{{ record.data|get:"Amino Acid Change" }}</td>
          <td>{{ record.data|get:'% Frequency' }}</td>
          <td>{{ record.data.Coverage }}</td>
          <td>{{ record.data|get:'Variant ID' }}</td>
          <td>{{ record.data.TumorType }}</td>
          <td>{{ record.data.TissueType }}</td>
          <td>{{ record.data.Row|add:"1"}}</td>
        </tr>
        <tr>
            <td>
              PowerPath/EPIC Entry:<br><br>
              Gene Variant: {{ record.data.Genes }} {{ record.data.Coding }} {{ record.data|get:"Amino Acid Change" }}<br>
              Type of Variant: {{ record.data.Type }}<br>
              COSMIC/NCBI ID: {{ record.data|get:'COSMIC/NCBI' }}<br>
              Variant Allele Frequency: {{ record.af_str }}<br>
              Read Counts: {{ record.data|get:'Read Counts' }}<br>
              Read Coverage: {{ record.data.Coverage }}<br>
            </td>
        </tr>
      </table>

      <table style="width:100%;", class="pmkbtable">
        <tr>
          <th>PMKB Interpretation</th>
          <th>Gene</th>
          <th>TumorType</th>
          <th>TissueType</th>
          <th>Variant</th>
          <th>Tier</th>
          <th>Citation</th>
          <th>Source Row</th>
        </tr>
        {% if 'pmkb' in record.interpretations %}
        {% for interpretation in record.interpretations.pmkb  %}
        <tr>
            <td>{{ interpretation.interpretation.interpretation }}</td>
            <td>{{ interpretation.variants|getallattr:'gene'|unique|join:", " }}<br></td>
            <td>{{ interpretation.variants|getallattr:'tumor_type'|unique|join:", " }}<br></td>
            <td>{{ interpretation.variants|getallattr:'tissue_type'|unique|join:", " }}<br></td>
            <td>{{ interpretation.variants|getallattr:'variant'|unique|join:", " }}<br></td>
            <td>{{ interpretation.variants|getallattr:'tier'|unique|join:", " }}<br></td>
            <td>{{ interpretation.interpretation.citations }}<br></td>
            <td>{{ interpretation.variants|getallattr:'source_row'|unique|join:", " }}<br></td>

        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>Error: PMKB interpretations not found for this record</td>
        </tr>
        {% endif %}


      </table>

      <table style="width:100%;", class="nyutiertable">
        <tr>
          <th>NYU Tier</th>
          <th>Gene</th>
          <th>TumorType</th>
          <th>TissueType</th>
          <th>Protein</th>
          <th>Coding</th>
          <th>Comment</th>
        </tr>
        {% if 'nyu_tier' in record.interpretations %}
        {% for interpretation in record.interpretations.nyu_tier  %}
        {% for tier in interpretation.tiers  %}
        <tr>
            <td>{{ tier.tier }}</td>
            <td>{{ tier.gene }}</td>
            <td>{{ tier.tumor_type }}</td>
            <td>{{ tier.tissue_type }}</td>
            <td>{{ tier.protein }}</td>
            <td>{{ tier.coding }}</td>
            <td>{{ tier.comment }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% endif %}
      </table>

      <br>
      {% endfor %}
    </div>

</body>
</html>
