<!DOCTYPE html>
<html lang="en">
    <style>
        * {
          font-family: sans-serif;
        }
    </style>
    <head>
      <title>IR-interpreter</title>
    </head>
    <body >
        <div style="width: 75%; float:left;">
            [<a href="https://github.com/NYU-Molecular-Pathology/IR-interpreter">Source Code & Details</a>]
            [<a href="https://github.com/NYU-Molecular-Pathology/IR-interpreter/tree/master/interpreter/fixtures">Source Interpretations</a>]
            [<a href="https://pmkb.weill.cornell.edu/">PMKB</a>]
            [<a href="https://raw.githubusercontent.com/NYU-Molecular-Pathology/IR-interpreter/master/interpreter/fixtures/SeraSeq.tsv">Example IR data</a> (right click & 'Save As')]
        </div>
        <div style="width: 25%; float:right; align:right; text-align: right;">
            [ver: {{ version }}]
        </div>
        <br>
        <hr>
        <div>
            <h1 style='display:inline'>IR-interpreter: </h1>
            <p style='display:inline'>Clinical interpreter for Ion Reporter and Oncomine analysis exported variant results.
            </p>
        </div>
        <hr>
        <div>
        {% include "./upload.html" %}
        {% block upload %}{% endblock %}
        </div>
    </body>
</html>
