<!DOCTYPE html>
<html lang="en">
    <style>
        * {
          font-family: sans-serif;
        }
    </style>
    <head>
      <title>IR-interpreter</title>
    </head>
    <body >
        <div style="width: 75%; float:left;">
            [<a href="https://github.com/NYU-Molecular-Pathology/IR-interpreter">Source Code</a>]
            [<a href="https://raw.githubusercontent.com/NYU-Molecular-Pathology/IR-interpreter/master/example-data/Seraseq-DNA_RNA-07252018_v1_79026a9c-e0ff-4a32-9686-ead82c35f793-2018-08-21-15-00-11200.tsv">Example data</a> (right click & 'Save As')]
        </div>
        <div style="width: 25%; float:right; align:right; text-align: right;">
            [ver: {{ version }}]
        </div>
        <br>
        <hr>
        <div>
            <h1 style='display:inline'>IR-interpreter: </h1>
            <p style='display:inline'>Clinical interpreter for Ion Reporter and Oncomine analysis results.
            See our <a href="https://github.com/NYU-Molecular-Pathology/IR-interpreter">GitHub Page</a> for details. Uses interpretations from <a href="https://pmkb.weill.cornell.edu/">PMKB</a> along with custom NYU interpretations.</p>
        </div>
        <hr>
        <div>
        {% include "./upload.html" %}
        {% block upload %}{% endblock %}
        </div>
    </body>
</html>
