{% block upload %}
<h4>Upload Ion Reporter .tsv file</h4>
<form method=post enctype=multipart/form-data action=/upload/ target=output>
    {% csrf_token %}
    <input type=file name=irtable>
    <button type="submit">Upload</button>

  <select name="tissue_type">
    <option selected disabled>Tissue Type</option>
    <option value="Any">Any</option>
    {% for tissue_type in tissue_types %}
    <option value="{{ tissue_type }}">{{ tissue_type }}</option>
    {% endfor %}
  </select>

  <select name="tumor_type">
    <option selected disabled>Tumor Type</option>
    <option value="Any">Any</option>
    {% for tumor_type in tumor_types %}
    <option value="{{ tumor_type }}">{{ tumor_type }}</option>
    {% endfor %}
  </select>


</form>
<div>
      <iframe src='about:blank', name="output", style="width: 100%; height: 75vh; display: table"></iframe>
</div>


{% endblock upload %}
