<html>
    <head>
      <title>IR-interpreter</title>
    </head>
    <body>
        <div>IR-interpreter: <a href="/index">Home</a></div>
        <div>Source: <a href="https://github.com/NYU-Molecular-Pathology/IR-interpreter">Github</a></div>
        <div>Example data (right click & 'Save As'): <a href="https://raw.githubusercontent.com/NYU-Molecular-Pathology/IR-interpreter/master/example-data/Seraseq-DNA_RNA-07252018_v1_79026a9c-e0ff-4a32-9686-ead82c35f793-2018-08-21-15-00-11200.tsv">Lung Adenocarcinoma .tsv</a></div>
        <hr>
        {% block content %}{% endblock %}
        {% include "upload.html" %}
    </body>
</html>
