<html>
    <head>
      <title>IR-interpreter</title>
    </head>
    <body>
        <div>
            [<a href="/index">Home</a>]
            [<a href="https://github.com/NYU-Molecular-Pathology/IR-interpreter">Source Code</a>]
            [ver: {{ version }}]
        </div>
        - <a href="https://raw.githubusercontent.com/NYU-Molecular-Pathology/IR-interpreter/master/example-data/Seraseq-DNA_RNA-07252018_v1_79026a9c-e0ff-4a32-9686-ead82c35f793-2018-08-21-15-00-11200.tsv">Example data for Lung Adenocarcinoma</a> (right click & 'Save As')
        <hr>
        {% block content %}{% endblock %}
        {% include "upload.html" %}
    </body>
</html>
